@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";



@font-face {
    font-family: "DansonBold";
    src: url("/fonts/DansonBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "DansonRegular";
    src: url("/fonts/DansonRegular.ttf") format("truetype");
  }
  @font-face {
    font-family: "DansonLight";
    src: url("/fonts/DANSON-LIGHT.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "DansonSemiBold";
    src: url("/fonts/DansonSemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "RovelleUno-Bold";
    src: url("/fonts/RovelleUno-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "RovelleUno-Light";
    src: url("/fonts/RovelleUno-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "RovelleUno-Regular";
    src: url("/fonts/RovelleUno-Regular.ttf") format("truetype");
  }

  body{
    @apply bg-black
  }
  .Inter{
    font-family: Inter;
  }
  .DansonRegular
  {
    font-family: DansonRegular;
  }
  .DansonLight
  {
    font-family: DansonLight;
  }
  .DansonBold {
    font-family: DansonBold;
  }
  .DansonSemiBold {
    font-family: DansonSemiBold;
  }
  .RovelleUnoLight {
    font-family: RovelleUno-Light;
  }
  .RovelleUnoRegular {
    font-family: RovelleUno-Regular;
  }
  .RovelleUnoBold {
    font-family: RovelleUno-Bold;
  }

  h1 {
    font-family: DansonSemiBold;
  }
  h2 {
    font-family: DansonRegular;
    @apply  text-2xl
  }

  option {
    background-color: black;
}
input {
  font-family: RovelleUno-Light !important;
}
::placeholder {
  @apply font-semibold
}


.button-underline-animated {
  position: relative;
  display: inline-block;
  overflow: hidden;
  --hover-color: white; /* valor por defecto */
}

.button-underline-animated::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color); /* usa la variable personalizada */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease, background-color 0.3s ease;
}

.button-underline-animated:hover::after {
  transform: scaleX(1);
}

/* Aplica la animación por defecto */
.button-underline-animated::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease, background-color 0.3s ease;
}

/* Aplica la animación SOLO si no está activa */
.button-underline-animated:hover::after {
  transform: scaleX(1);
}

/* Si el botón ya está activo, no se muestra la animación al hacer hover */
.button-underline-animated.active-region::after {
  content: none;
}


/* -----------------------------------------------------------------
 */




  .buttonConsultar {
    font-family: Inter;
   @apply text-white bg-black font-bold
  }
/* Aplica un fondo blanco y un borde redondeado al calendario */


.react-datepicker {
  background-color: transparent !important;
  font-size: 0.7rem !important;
  width: 100%;
}

.react-datepicker__month-container {
  display: block;
  width: 100%;

}
h2.react-datepicker__current-month {
    padding: 0;
    margin: 0;
    display: flex;
}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 3.8rem !important;
  height: 2.5rem !important;
  display: inline-block !important;
  margin: 0 !important;
  padding: 2px;
  text-align: center;

}
@media (max-width: 640px) {
  .react-datepicker__day,
  .react-datepicker__day-name {
    width: 3rem !important;
  }
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    border-radius: 0.3rem;
    background-color: #216ba5;
    color: #fff;
    width: 2rem !important;
    height: 2rem !important;
    padding: 0 25px 0 25px;
    align-items: center;
}

.react-datepicker__header {
  background-color: transparent !important;
      border-bottom: 1px solid #fff6ea50 !important;

}

h2.react-datepicker__current-month {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: #fff6ea !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #fff6ea !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    border-radius: 10% !important;
    background-color: #fff6ea !important;
    color: #080808 !important;
    font-weight: bold !important;
    width: auto !important;
    height: auto;
}
.react-datepicker__day:hover {
  background-color: #dd830e1c;
  border-radius: 10%;
}
.react-datepicker__day:not(.react-datepicker__day--disabled):hover {
  background-color: #fff6ea67 !important;
  border-radius: 10%;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: rgb(81 82 83) !important;
    color: rgb(0, 0, 0);
}